<!DOCTYPE html>
<html lang="fi-FI">
<meta charset="utf-8">
<head>
<title>Eeron Chat</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Eero Vilpponen">
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/style.css') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='./images/icon.png') }}">
</head>
<body>

<script type="text/javascript" charset="utf-8">
const socket = io();

socket.on('connect', () => {
	socket.emit('connected', {
		'nickname': document.getElementById('nickname-input').value}, (data) => {
			console.log("connected: ", data);
			if (data.messages) {
				for (let i = 0; i < data.messages.length; i++) {
					addMessage(data.messages[i]);
				}
			}
			if (data.users) {
				updateUserList(data.users);
			}
	});
	socket.emit('login', document.getElementById('nickname-input').value);
});

const nicknameChanged = () => {
	console.log("nickname changed");
	socket.emit('login', document.getElementById('nickname-input').value);
}

const updateUserList = (users) => {
	document.getElementById('user-count').innerHTML = (users || []).filter(u => u.status != "offline").length + ' käyttäjää';
	document.getElementById('used-list').innerHTML = '';
	for (let i = 0; i < users.length; i++) {
		let e = document.createElement('li');
		const user = users[i];
		if (user.status == "offline") {
			continue;
		}
		e.innerHTML = user.username;
		if (user.status == "typing")
			e.innerHTML += ' kirjoittaa...';

		e.style.color = randomizeColor(user.username);
		document.getElementById('used-list').appendChild(e);
	}
}

socket.on('users', (users) => {
	console.log("users: ", users.users);
	updateUserList(users.users);
});

const randomizeColor = (string) => {
	// Return a random color based on a string
	let hash = 0;
	for (let i = 0; i < string.length; i++) {
		hash = string.charCodeAt(i) + ((hash << 5) - hash);
	}
	let color = '#';
	for (let i = 0; i < 3; i++) {
		let value = (hash >> (i * 8)) & 0xFF;
		color += ('00' + value.toString(16)).substr(-2);
	}
	return color;
}

const addMessage = (data) => {
	let e = document.createElement('p');
	let sp = document.createElement('span');
	sp.innerHTML = data.nickname;
	sp.style.color = randomizeColor(data.nickname);
	e.appendChild(sp);
	e.innerHTML = e.innerHTML+': '+data.message;

	document.getElementById('message-box').appendChild(e);

	document.getElementById('message-box').scroll(0, document.getElementById('message-box').scrollHeight);
}

socket.on('server_message', (data) => {
	addMessage(data);
});

function htmlEntities(str) {
    return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
}

function sendMessage(){
	socket.emit('client_message', {'nickname': htmlEntities(document.getElementById('nickname-input').value), 'message':  htmlEntities(document.getElementById('message-input').value)});
	document.getElementById('message-input').value = '';
	socket.emit('typing', false);
}

function isPressingEnter(e){
	let k;
	if(window.event){
		k = e.keyCode;
		if(k===13){
			sendMessage();
			return;
		}
	}else if(e.which){
		k = e.which;
		if(k===13){
			sendMessage();
			return;
		}
	}
	setTimeout(() => {
		console.log(document.getElementById('message-input').value);
		if (document.getElementById('message-input').value.length > 0)
			socket.emit('typing', true);
		else
			socket.emit('typing', false);
	}, 1)
}

const rooms = {
	"valtteri": "Ukin huone",
	"mutala": "Vaarin huone",
}

const queryParams = new URLSearchParams(window.location.search);
const room = queryParams.get('room');
const roomChoices = (queryParams.get('roomChoices') || '').split(',');



</script>
<div id="room-choices"></div>
<style>
	#room-choices a {
		display: block;
	}
</style>
<h1 id="title"></h1>
<script>
	document.getElementById('title').innerHTML = rooms[room] || room;
	for (const roomChoice of roomChoices) {
		if (room === roomChoice) {
			continue;
		}
		let e = document.createElement('a');
		e.href = `?room=${roomChoice}&roomChoices=${roomChoices.join(',')}`;
		e.innerHTML = rooms[roomChoice] || roomChoice;
		document.getElementById('room-choices').appendChild(e);
	}
</script>
<section id="chat-box">
	<section id="users-and-messages-box">
		<section id="user-box">
			<p id="user-count"><span id="user-count">0</span> käyttäjää</p>
			<ul id="used-list"></ul>
		</section>

		<section id="message-box">

		</section>
	</section>

	<section id="input-box">
		<input type="text" autofocus onkeyup="return isPressingEnter(event)" required placeholder="Kirjoita viesti" id="message-input">
		<button type="button" id="send-button" onclick="sendMessage()" >>></button>
	</section>
</section>

<section id="nickname-box">
	<label id="nickname-label" for="nickname-input">Nimi: </label>
	<input type="text" id="nickname-input" autocomplete="off" value="Vieras" onchange="nicknameChanged()">
</section>

</body>
</html>
